.CompanyCouponsByCategory {
	
}
.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-color: black;
    box-shadow: inset;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color:b#fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

  }

  .chooseBTN{
      width: 110px;
      height: 70px;
      margin-left: 45%;
  }